<header></header>

<div class="container account-container">
    <h1 class="text-center mb-5">My Account</h1>
    <div class="form-group row">
        <label for="username" class="col-sm-3 col-form-label"><i class="fas fa-user"></i> Username</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" id="username">{{account.username}}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="first-name" class="col-sm-3 col-form-label"><i class="fas fa-user"></i> First Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" id="first-name">{{account.firstName}}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="last-name" class="col-sm-3 col-form-label"><i class="fas fa-user"></i> Last Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" id="last-name">{{account.lastName}}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label"><i class="fas fa-envelope"></i> Email</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" id="email">{{account.email}}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="phone" class="col-sm-3 col-form-label"><i class="fas fa-phone"></i> Phone</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" id="phone">{{account.phoneNumber}}</p>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-end justify-content-md-end">
            <button type="button" class="btn btn-danger" id="logout-btn" (click)="logout()"><i
                    class="fas fa-sign-out-alt"></i>
                Logout</button>
        </div>
    </div>

    <div class="margin-top-24">
        <h2 class="text-center" *ngIf="orders.length === 0">No orders</h2>
        <h2 class="text-center" *ngIf="orders.length > 0">My orders
            <hr>
        </h2>
    </div>

    <mat-accordion *ngIf="orders.length > 0" [multi]="true">
        <mat-expansion-panel *ngFor="let order of orders">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Order ID: {{ order.orderId }}
                </mat-panel-title>
                <mat-panel-description>
                    Name: {{ order.name }}, Shipped: {{ order.isShipped ? 'Yes' : 'No' }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <p>Address: {{ order.address }}</p>
                <p>City: {{ order.city }}</p>
                <p>Country: {{ order.country }}</p>
                <p>Zip: {{ order.zip }}</p>
                <p>Email: {{ order.email }}</p>
                <div class="font-size-17">Products: {{order.lines!.length}}</div>
                <hr>
                <div *ngFor="let product of order.lines">
                    <div class="account-orders-products">
                        <div class="product-name font-size-17">{{ product.product.name }}</div>
                        <div class="product-quantity font-size-17">{{ product.quantity }}</div>
                    </div>
                </div>

            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="margin-top-24">
        <h2 class="text-center" *ngIf="ratings.length === 0">No ratings</h2>
        <h2 class="text-center" *ngIf="ratings.length > 0">My ratings
            <hr>
        </h2>
    </div>

    <mat-accordion *ngIf="ratings.length > 0" [multi]="true">
        <mat-expansion-panel *ngFor="let rating of ratings">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Product ID: {{ rating.productId }}
                </mat-panel-title>
                <mat-panel-description>
                    Value: {{ rating.value }}
                </mat-panel-description>
                <mat-icon color="accent" class="test-button-expansion" matTooltip="Delete"
                    (click)="deleteRating(rating.ratingId!)">delete</mat-icon>
            </mat-expansion-panel-header>
            <div>
                <p>Rating ID: {{ rating.ratingId }}</p>
                <div *ngIf="!isEditingComment(rating)" (click)="editComment(rating)">
                    {{ rating.comment }}
                </div>
                <div *ngIf="isEditingComment(rating)">
                    <mat-form-field appearance="fill">
                        <mat-label>Leave a comment</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                            cdkAutosizeMaxRows="14" [(ngModel)]="rating.comment"
                            (blur)="saveComment(rating)"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>

<footer></footer>