<header></header>

<div class="small-container">
    <div class="mt-4 d-flex justify-content-between flex-wrap">
        <h2>All Products</h2>
        <div>
            <select [ngModel]="selectedCategory" (change)="changeCategory($any($event).target.value)">
                <option selected value='undefined'>All categories</option>
                <option *ngFor="let cat of categories" [routerLink]="['/store', cat.name]" value={{cat.name}}>
                    {{cat.name}}</option>
            </select>
            <select [ngModel]="selectedSort" (change)="changeSort($any($event).target.value)">
                <option selected value='undefined'>Default sorting</option>
                <option value='name'>Name</option>
                <option value='price'>Price</option>
                <option value='category.name'>Category</option>
                <option value='supplier.name'>Supplier</option>
            </select>
            <select [ngModel]="isFromLower" (change)="changeDirection($any($event).target.value)">
                <option selected value='undefined'>Default direction</option>
                <option value='true'>From lower to greater</option>
                <option value='false'>From greater to lower</option>
            </select>
            <select [ngModel]="productsPerPage" (change)="changePageSize($any($event).target.value)">
                <option value="3">3 per page</option>
                <option value="6">6 per page</option>
                <option value="9">9 per page</option>
                <option value="12">12 per page</option>
            </select>
        </div>
    </div>
    <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Search" (keyup)="changeSearch($any($event).target.value)" />
    </mat-form-field>
    <div class="my-row">
        <div *ngFor="let product of products" class="col-4">
            <img [routerLink]="['/product', product.productId]" [src]='productImage(product.images!)'
                style="max-height: 300px;">
            <small>{{product.category?.name}} | {{product.supplier?.name}}</small>
            <h4>{{product.name}}</h4>
            <p>{{product.price | currency:"USD":"symbol":"2.2-2"}}</p>
        </div>
    </div>

    <div class="page-btn">
        <span *counter="let page of pageCount" (click)="changePage(page)" [class.selected-page]="page == selectedPage">
            {{page}}
        </span>
    </div>
</div>

<footer></footer>