.small-container-2 {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
}

.categories {
    margin: 70px 0;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.my-col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

.brands {
    margin: 100px auto;
}


@media only screen and (max-width: 800px) {
    .brands {
        display: none;
    }

    .my-col-2 img {
        max-width: 100%;
    }
}