<div class="footer">
    <div class="container">
        <div class="my-row">
            <div class="footer-col-1">
                <h3>Download our app</h3>
                <p>Download App for ANDROID and IOS mobile phone.</p>
                <div class="app-logo">
                    <img src="assets/images/play-store.png">
                    <img src="assets/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <a routerLink="/products"><img src="assets/images/angularstore-logo-white.png"></a>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul class="p-0">
                    <li><a href="https://en.wikipedia.org/wiki/Product_return">Return policy</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul class="p-0">
                    <li><a href="https://twitter.com/">Twitter</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>