<mat-form-field>
    <input matInput type="text" class="form-control" placeholder="Search"
        (keyup)="changeSearch($any($event).target.value)" />
</mat-form-field>
<table mat-table matSort [dataSource]="tableDataSource">
    <ng-container matColumnDef="supplierId">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>SupplierId</th>
        <td mat-cell *matCellDef="let item"> {{item.supplierId}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item"> {{item.name}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let item"> {{item.city}} </td>
    </ng-container>
    <ng-container matColumnDef="products.length">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Products quantity</th>
        <td mat-cell *matCellDef="let item"> {{item.products.length}} </td>
    </ng-container>
    <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let s">
            <button mat-flat-button color="accent" (click)="deleteSupplier(s.supplierId)">
                Delete
            </button>
            <button mat-flat-button color="warn" [routerLink]="['/admin/main/suppliers/edit', s.supplierId]">
                Edit
            </button>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colsAndRows"></tr>
    <tr mat-row *matRowDef="let row; columns: colsAndRows"></tr>
</table>
<div class="bottom-box">
    <button mat-flat-button color="primary" routerLink="/admin/main/suppliers/create">
        Create New Supplier
    </button>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10]">
    </mat-paginator>
</div>