<header></header>

<div class="small-container single-product">
    <div *ngIf="product" class="my-row">
        <div class="my-col-2">
            <img [src]="productImage(product.images)" width="100%">
        </div>
        <div class="my-col-2">
            <p>{{product.category!.name }} | {{product.supplier!.name}}</p>
            <div class="d-flex justify-content-center justify-content-md-start">
                <app-star-rating *ngIf="isAverageRatingCalculated" (ratingSelected)="onRatingSelected($event)"
                    [averageRating]="averageRating" [isAuthenticated]="isLoggedIn()"></app-star-rating>
            </div>

            <div class="d-flex justify-content-center justify-content-md-start">
                <div *ngIf="!isLoggedIn()">
                    <p routerLink="/login">Log in to rate and leave comments</p>
                </div>
                <div class="leave-comment" *ngIf="isLoggedIn()">
                    <p *ngIf="selectedRating == null">Rate to leave comment</p>
                    <p *ngIf="selectedRating != null">Leave comment</p>
                    <div *ngIf="selectedRating != null">
                        <mat-form-field appearance="fill">
                            <mat-label>Leave a comment</mat-label>
                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="comment"></textarea>
                        </mat-form-field>
                        <button class="btn btn-primary" (click)="leaveComment()">Submit</button>
                    </div>
                </div>
            </div>

            <h4 *ngIf="averageRating > 0">Average Rating: {{averageRating.toFixed(1)}}</h4>
            <h4 *ngIf="averageRating <= 0">No ratings</h4>


            <h1>{{product.name}}</h1>
            <h4>{{product.price | currency:"USD":"symbol":"2.2-2"}}</h4>
            <input type="number" min="1" [(ngModel)]="quantity" />
            <a class="btn btn-success" (click)="addProductToCart()">Add To Cart</a>
            <h3>Product details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{product.description}}</p>
        </div>
    </div>
    <hr>

    <h3 class="text-center">Comments<i class="fa fa-comment"></i></h3>

    <ul class="list-unstyled">
        <li *ngFor="let rating of ratings" class="media my-4">
            <div class="media-body">
                <h5 class="mt-0">{{rating.comment}}</h5>
                <p>Rating: {{rating.value}}</p>
                <p class="text-muted font-size-12">by {{rating.userId}}</p>
            </div>
        </li>
        <li *ngIf="ratings.length === 0">No comments yet</li>
    </ul>
    <hr>

</div>

<footer></footer>