.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
}

.single-product {
    margin-top: 80px;
}

.single-product .my-col-2 {
    padding: 20px;
}

.single-product .my-col-2 img {
    padding: 0;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ff523b;
}

.single-product a {
    margin-top: 20px;
    margin-bottom: 30px;
}

.leave-comment {
    width: 100%;
}

.leave-comment button {
    margin-top: 5px;
}

.font-size-12 {
    font-size: 12px;
}


@media only screen and (max-width: 600px) {
    .single-product .row {
        text-align: left;
    }

    .single-product .my-col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
}
