* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

mat-form-field {
    width: 100%;
}

/* ///////// */

.my-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.my-col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.my-col-2 img {
    max-width: 200%;
    padding: 50px 0;
}

.my-col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-20px);
}

.my-col-5 {
    width: 160px;
}

.my-col-5 img {
    width: 100%;
    filter: grayscale(100%);
}

.my-col-5 img:hover {
    filter: grayscale(0);
}

@media only screen and (max-width: 800px) {
    .my-col-2 img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar cart-summary small {
        display: none;
    }

    .my-row {
        text-align: center;
    }

    .my-col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
}
