<mat-card class="create-edit">
    <mat-card-title class="text-center">{{editing ? "Edit" : "Create"}} a Category</mat-card-title>
    <mat-card-content>
        <form #form="ngForm" (ngSubmit)="save(form)">
            <div class="form-group">
                <mat-form-field *ngIf="editing">
                    <mat-label>ID</mat-label>
                    <input matInput name="id" [(ngModel)]="category.categoryId" disabled />
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput class="form-control" #name="ngModel" name="name" [(ngModel)]="category.name"
                        required />
                </mat-form-field>
                <span *ngIf="name.touched && name.invalid || isSubmitted && name.invalid" class="text-danger">
                    Please enter the name
                </span>
            </div>
            <button type="submit" mat-flat-button color="primary">
                {{editing ? "Save" : "Create"}}
            </button>
            <button type="reset" mat-stroked-button routerLink="/admin/main/categories">
                Cancel
            </button>
        </form>
    </mat-card-content>
</mat-card>